<div class="hy_container" style="margin-top: 15px">
	<div class="mobile-title"><span class="cat-201">{{keyword}} araması için bulunan sonuçlar</span></div>
	<div class="news-content">
		<ul class="mobile-block" id="results">
			{%include "ajax/ajax_mobile_content.twig" %}
		</ul>
	</div>
</div>
